:root {
  --win-width: 300px;
}

.windowAsk-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 200;
}

.window-ask {
  position: absolute;
  min-width: var(--win-width);
  max-width: 500px;
  border: solid 1px #2a2f32;
  border-radius: 10px;
  /* left: calc( 50% - 250px ); */
  top: 100px;
  background-color: #2a2f32;
  font-size: 1.1rem;
}

.modal-position {
  display: flex;
  justify-content: center;
}

.head-ask {
  text-align: center;
  margin: 20px 20px;  
}

.body-ask {
  text-align: left;
  margin: 20px 20px;
}


.input-ask-block {
  margin: 20px;
}

.input-ask {
  padding: 5px;
  font-size: 1.2rem;
  width: 100%;
  font-family: "PT Sans", Calibri, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: #33383b;
  border: 1px solid #33383b;
  border-radius: 8px;
  color: #b1b3b5;
}

.input-err {
  visibility: hidden;
}

.textarea-ask {
  resize: vertical;
  max-height: 200px;
  min-height: 80px;
  box-sizing: border-box;
}

.btn-ask {
  text-align: right;
  margin: 20px;
}

.btnCancel {
  padding: 10px 15px;
  border: solid 1px gray;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #33383b;
  border: solid 1px #33383b;
  color: #b1b3b5;
}

.btnOk {
  padding: 10px 20px;
  margin-right: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #33383b;
  border: solid 1px #33383b;
  color: #b1b3b5;
}

.menu-upload {
  white-space: nowrap;
  z-index: 100;
  position: absolute;
  background-color: #2a2f32;
  border-radius: 5px;
  border: 1px solid #2a2f32;
  padding: 2px;
  visibility: visible;
}